In [ ]:
'''
Note: Tobi added the following code block on 1/26/2022 to update how to access 
the required data frame for this analysis. I commented out the original data access method,
shown below in cell 2.
'''

#import required libraries
import os
import pandas as pd
import numpy as np

#find the current directory
current_directory = os.getcwd()

#moves up one folder in the file directory (in order to get to the input folder)
#path_parent = os.path.dirname(current_directory)
path_parent = 'Z:\PA_SENTENCING_PROJECT\Project'
'''
Note about the data:
The folder name for the original data files is "Input", which contains the following files:
1. PSC_data_trimmed.csv: data file containing just the subset of 50 variables
2. Main.csv = the original, ~ 2 million dollar entry dataset 
3. Columns.csv = a datafile containing the subset of columns from the original dataset that we want to use
'''
#joins the file path together and reads in the data frame

df = pd.read_csv(os.path.join(path_parent, "data",  "PSC_data_trimmed.csv"))

In [ ]:
df['JPO_ID'].value_counts()

In [132]:
df['JP_CC_BUG'].value_counts()

N    533837
Y     12847
Name: JP_CC_BUG, dtype: int64

In [133]:
12847/533837

0.024065398239537537

Issue - 1
Certain columns have mixed data types. Guessing datatypes are extremely memory intensive. So we need to decide which columns we are going to use, and what data types will contain in those columns

In [128]:
print(df.iloc[:,[8,20,40,41,43,44,45,46,47]].dtypes)
df.iloc[:,[8,20,40,41,43,44,45,46,47]].columns
#https://pandas.pydata.org/docs/reference/api/pandas.errors.DtypeWarning.html

OFN_LABEL        object
INC_RELATEDTO    object
conform          object
OFF_CRIMEFREE    object
DOB2             object
MS_OFFBODY       object
MS_SENTJP        object
JP_CC_BUG        object
ofn_label        object
dtype: object

Index(['OFN_LABEL', 'INC_RELATEDTO', 'conform', 'OFF_CRIMEFREE', 'DOB2',
       'MS_OFFBODY', 'MS_SENTJP', 'JP_CC_BUG', 'ofn_label'],
      dtype='object')

In [123]:

df_missing= df.isna().sum().reset_index(name="num_of_missing").sort_values('num_of_missing', ascending=False)
df_missing= df_missing.assign(missing_perc=((df_missing['num_of_missing']/df.shape[0])*100))
df_missing

                   index  num_of_missing  missing_perc
43                  DOB2         2593144     99.981030
28                   sip         2582795     99.582015
35              IP_START         2369149     91.344699
34                IP_END         2369149     91.344699
47             ofn_label         2325576     89.664702
41         OFF_CRIMEFREE         2294911     88.482385
21        INC_RELATEDOTN         2250732     86.779024
19      INC_RELATIONSHIP         2250620     86.774705
20         INC_RELATEDTO         2250581     86.773202
46             JP_CC_BUG         2046952     78.922100
37               OFF_AGE         1792693     69.118913
44            MS_OFFBODY         1698015     65.468516
45             MS_SENTJP         1544326     59.542897
18                incmax         1468396     56.615346
17                incmin         1468371     56.614382
32               INC_END         1466176     56.529752
33             INC_START         1466176     56.529752
16              INC_TYPE         1465901     56.519149
42       SGR_LVL_OGS_PRS          903939     34.852192
40               conform          900076     34.703251
39            PCS_OFF_ID          899300     34.673331
8              OFN_LABEL          268060     10.335298
7              OFN_COUNT          117141      4.516478
24  PROB_SANCTION_EXISTS           67998      2.621725
23    IP_SANCTION_EXISTS           67998      2.621725
15   INC_SANCTION_EXISTS           67998      2.621725
30                   dof           15965      0.615545
4                 dofage            3905      0.150561
36                   dob            3813      0.147014
11                   ogs             689      0.026565
12                   prs              26      0.001002
29           MS_SANCTION              11      0.000424
27               glepoch              10      0.000386
5                    otn               2      0.000077
13       GUIDELINE_RANGE               1      0.000039
10                 grade               0      0.000000
2                OFF_SEX               0      0.000000
3               OFF_RACE               0      0.000000
6              OFN_TITLE               0      0.000000
9              OFN_GRADE               0      0.000000
1                 JPR_ID               0      0.000000
38           id_variable               0      0.000000
25                county               0      0.000000
14               SGR_LVL               0      0.000000
22              STATE_IP               0      0.000000
31                   dos               0      0.000000
26                JPO_ID               0      0.000000
0             Unnamed: 0               0      0.000000

In [ ]:
df[['ofn_label','OFN_LABEL']].tail(10)

In [ ]:
2593144/df.shape[0]*100

In [ ]:
# df['ofn_label'].unique()
df['conform'].unique()

In [ ]:
df.head()

In [ ]:
df.size

In [ ]:
dfc = df.copy()

Missing Values in Incaceration End Date

In [ ]:
dfc.head()['INC_END']

In [ ]:
# Number of missing values in incaceration end date
dfc["INC_END"].isna().sum()

In [ ]:
df['OFF_SEX'].unique()

In [ ]:
dfU = df[df['OFF_SEX']=='U']

In [ ]:
dfU.head()

Issue- Assigning Numbers to Categorical Variables. Not sure if we need to do it at this stage

In [ ]:
df["OFF_SEX"].replace({"F": 0, "M": 1, "U":2}, inplace=True)

In [ ]:
df[df['OFF_SEX'].isnull()==True]

In [ ]:
df[df['OFF_RACE'].isnull()==True]

In [ ]:
df['OFF_RACE'].unique()

In [ ]:
df["OFF_RACE"].replace({'Unknown': 0,'White': 1, 'Black':2,'American Indian': 3,'Asian/Pacific Island': 4,'Hispanic':5, 'Other':6}, inplace=True)

H-1, and H-2 here refers to Murder 1st and Murder 2nd degree cases. Do we need to Remove these from the dataset

In [ ]:
	
df[df['OFN_GRADE'].str.contains('H-1')].head()

In [ ]:
dfc = df.copy()

In [ ]:
df['OFN_GRADE'].unique()

Verified that there are no null values in OFN_GRADE

In [ ]:
dfc["OFN_GRADE"].isna().sum()

In [ ]:
df[df['OFN_GRADE'].isnull()==True]

In [ ]:
#df["OFN_GRADE"].replace({'F': 0,'F-1': 1, 'F-2':2,'F-2':3,'H-1': 4,'H-2': 5,'M': 6, 'M-1':7, 'M-2':8, 'M-3':9}, inplace=True)

Offender age at date of offense (years)
(Calculated as DOF minus DOB divided by
365.25.) Need to check this manually

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df[df['grade'].isnull()==True]

Test to see if this grade matches the ofn_grade

In [ ]:
df['grade'].unique()

In [ ]:
df['SGR_LVL'].unique()

In [ ]:
#df["SGR_LVL"].replace({'nan':''}, inplace=True)

##

In [ ]:
df['SGR_LVL'].unique()

In [ ]:
df['SGR_LVL'] = df['SGR_LVL'].fillna('')

In [ ]:
df['SGR_LVL'].replace({'-': '', '~':''}, inplace=True)

In [ ]:
df['SGR_LVL'].unique()

In [ ]:
df['INC_TYPE'].unique()

In [ ]:
df["INC_TYPE"].replace({'Unknown': 0,'County Facility': 1, 'State Facility':2}, inplace=True)

In [ ]:
df['INC_TYPE'].unique()

In [ ]:
df['incmin'].unique()

In [ ]:
df['incmax'].unique()

In [ ]:
df['INC_RELATIONSHIP'].unique()

In [ ]:
df['INC_RELATIONSHIP'].replace({'Consecutive':0,'Concurrent':1, 'X':2}, inplace=True)

In [ ]:
df['INC_RELATIONSHIP'].unique()

In [ ]:
df['STATE_IP'].unique()

In [ ]:
df['STATE_IP'].replace({'N': 0,'Y': 1}, inplace=True)

In [ ]:
df['IP_SANCTION_EXISTS'].unique()

In [ ]:
df['IP_SANCTION_EXISTS'].replace({'N': 0,'Y': 1}, inplace=True)

In [ ]:
df['PROB_SANCTION_EXISTS'].unique()

In [ ]:
df['PROB_SANCTION_EXISTS'].replace({'N': 0,'Y': 1}, inplace=True)

In [ ]:
df['county'].unique()

In [ ]:
df['INC_SANCTION_EXISTS'].unique()

In [ ]:
df['INC_SANCTION_EXISTS'].replace({'N': 0,'Y': 1}, inplace=True)

In [ ]:
df['county'].replace({'Cambria': 11, 'Chester': 15, 'Bucks':9, 'Allegheny': 2, 'Clarion' :16,
       'Westmoreland':65, 'Lehigh':39, 'Philadelphia':51, 'Delaware':23, 'Montgomery':46,
       'Crawford':20, 'Washington':63, 'Cumberland':21, 'Franklin':28, 'Lackawanna':35,
       'Erie':25, 'Berks':6, 'Dauphin':22, 'York':67, 'Fayette':26, 'Lancaster':36,
       'Luzerne':40, 'Schuylkill':54, 'Mercer':43, 'Beaver':4, 'Armstrong':3,
       'Venango':61, 'Monroe':45, 'Lebanon':38, 'Carbon':13, 'Northampton':48,
       'Northumberland':49, 'Bradford':8, 'Union':60, 'Mifflin':44, 'Wyoming':66,
       'Centre':14, 'Susquehanna':58, 'Lawrence':37, 'Greene':30, 'Blair':7, 'Juniata':34,
       'Lycoming':41, 'Adams':1, 'Columbia':19, 'Butler':10, 'McKean':42, 'Forest':27,
       'Snyder':55, 'Indiana':32, 'Clearfield':17, 'Perry':50, 'Wayne':64, 'Huntingdon':31,
       'Tioga':59, 'Somerset':56, 'Clinton':18, 'Elk':24, 'Warren':62, 'Pike':52, 'Fulton':29,
       'Montour':47, 'Potter':53, 'Bedford':5, 'Sullivan': 57, 'Jefferson':33, 'Cameron':12,
       'PCCD':0}, inplace=True)

In [ ]:
df['county'].unique()

In [ ]:
df['MS_SANCTION'].unique()

In [ ]:
df.describe()

In [98]:
df.dtypes

Unnamed: 0                int64
JPR_ID                    int64
OFF_SEX                   int64
OFF_RACE                 object
dofage                  float64
otn                      object
OFN_TITLE                 int64
OFN_COUNT                object
OFN_LABEL                object
OFN_GRADE                object
grade                     int64
ogs                     float64
prs                      object
GUIDELINE_RANGE          object
SGR_LVL                  object
INC_SANCTION_EXISTS      object
INC_TYPE                 object
incmin                  float64
incmax                  float64
INC_RELATIONSHIP         object
INC_RELATEDTO            object
INC_RELATEDOTN           object
STATE_IP                 object
IP_SANCTION_EXISTS       object
PROB_SANCTION_EXISTS     object
county                   object
JPO_ID                    int64
glepoch                  object
sip                     float64
MS_SANCTION             float64
dof                      object
dos                      object
INC_END                  object
INC_START                object
IP_END                   object
IP_START                 object
dob                      object
OFF_AGE                 float64
id_variable               int64
PCS_OFF_ID              float64
conform                  object
OFF_CRIMEFREE            object
SGR_LVL_OGS_PRS         float64
DOB2                     object
MS_OFFBODY               object
MS_SENTJP                object
JP_CC_BUG                object
ofn_label                object
dtype: object

In [99]:
df['INC_END'] = pd.to_datetime(df['INC_END'])

In [100]:
df['INC_START'] = pd.to_datetime(df['INC_START'])

In [101]:
df['IP_END'] = pd.to_datetime(df['IP_END'])

In [102]:
df['IP_START'] = pd.to_datetime(df['IP_START'])

In [103]:
df['dob'] = pd.to_datetime(df['dob'])

In [104]:
df['dos'] = pd.to_datetime(df['dos'])

In [105]:
df['dof'] = pd.to_datetime(df['dof'])

In [129]:
#df['INC_START'].max()

df[['INC_START','dob','INC_START','IP_END','dos','dof']].min()

INC_START   1972-01-03
dob         1972-01-01
INC_START   1972-01-03
IP_END      2001-01-16
dos         2001-01-01
dof         1984-11-14
dtype: datetime64[ns]

In [127]:

mask = (df['INC_START'] > '2019-12-31')
test = df.loc[mask]
test[['JPO_ID','INC_START']]

          JPO_ID  INC_START
874       992267 2049-12-31
878       992266 2039-12-31
1043      885101 2021-05-07
1601      868092 2030-01-31
1602      868090 2021-01-31
...          ...        ...
2593465  9799544 2021-12-30
2593468  9694659 2020-07-23
2593543  9755560 2020-05-18
2593582  9675374 2021-10-22
2593629  9791248 2024-10-01

[30810 rows x 2 columns]

In [ ]:
df['INC_END_DAYS'] = (df['INC_END'].sub(pd.to_datetime('01/01/1900'))).dt.days

In [ ]:
df['INC_START_DAYS'] = df['INC_START'].sub(pd.to_datetime('01/01/1900')).dt.days

In [ ]:
df['IP_END_DAYS'] = df['IP_END'].sub(pd.to_datetime('01/01/1900')).dt.days

In [ ]:
df['IP_START_DAYS'] = df['IP_START'].sub(pd.to_datetime('01/01/1900')).dt.days

In [ ]:
df['DOB_DAYS'] = df['dob'].sub(pd.to_datetime('01/01/1900')).dt.days

In [ ]:
df['DOS_DAYS'] = df['dos'].sub(pd.to_datetime('01/01/1900')).dt.days

In [ ]:
df['DOF_DAYS'] = df['dof'].sub(pd.to_datetime('01/01/1900')).dt.days

In [ ]:
#df['dob'][df['dob'].isnull() & df['DOB2'].notnull()]
df.dob.fillna(df.DOB2, inplace=True)

In [ ]:
df.head()

In [ ]:
df['OFFENSE_YEAR'] = df['dof'].dt.year

In [ ]:
df['SANCTION_YEAR'] = df['dos'].dt.year

In [ ]:
df['BIRTH_YEAR'] = df['dob'].dt.year

In [ ]:
cols = list(df.columns.values)

In [ ]:
cols = list(df.columns.values)

In [ ]:
cols

In [ ]:
df = df[[
 'JPR_ID',
 'OFF_SEX',
 'OFF_RACE',
 'dofage',
 'otn',
 'OFN_TITLE',
 'OFN_COUNT',
 'OFN_LABEL',
 'OFN_GRADE',
 'grade',
 'ogs',
 'prs',
 'GUIDELINE_RANGE',
 'SGR_LVL',
 'INC_SANCTION_EXISTS',
 'INC_TYPE',
 'incmin',
 'incmax',
 'INC_RELATIONSHIP',
 'INC_RELATEDTO',
 'INC_RELATEDOTN',
 'STATE_IP',
 'IP_SANCTION_EXISTS',
 'PROB_SANCTION_EXISTS',
 'county',
 'JPO_ID',
 'glepoch',
 'sip',
 'MS_SANCTION',
 'dof',
'DOF_DAYS',
 'OFFENSE_YEAR',
 'dos',
          'DOS_DAYS',
 'SANCTION_YEAR',
 'INC_END',
          'INC_END_DAYS',
          'INC_START_DAYS',
 'INC_START',
 'IP_END',
     'IP_END_DAYS',
 'IP_START',
    

 'IP_START_DAYS',
 'dob',
'DOB_DAYS', 'BIRTH_YEAR',
 'OFF_AGE',
 'id_variable',
 'PCS_OFF_ID',
 'conform',
 'OFF_CRIMEFREE',
 'SGR_LVL_OGS_PRS',
 'DOB2',
 'MS_OFFBODY',
 'MS_SENTJP',
 'JP_CC_BUG',
 'ofn_label'
 ]]

In [ ]:
df.to_csv('cleaned.csv')